@font-face {
    font-family: 'Averta Semibold';
    src: url('font/Averta/Averta-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Averta-Semibold';
    src: url('font/Averta/Averta-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Averta Bold';
    src: url('font/Averta/Averta-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Averta-Bold';
    src: url('font/Averta/Averta-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Averta Light';
    src: url('font/Averta/Averta-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Averta-Regular';
    src: url('font/Averta/Averta-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NewsGoth BT Bold';
    src: url('font/NewsGothBT/tt0049m.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Regular Italic';
    src: url('font/Averta/Averta-RegularItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('font/Century Gothic/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('font/Comic Sans MS/comic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('font/Futura/Futura.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('font/Garamond/GARABD.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'High Tower';
    src: url('font/High Tower Text/HTOWERT.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('font/Optima/Optima.ttf') format('typetrue');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('font/Quicksand/Quicksand_Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('font/Times New Roman/timesbd_0.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('font/bodoni.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OleoScript';
    src: url('font/OleoScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}




